# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [6]:
# Install required packages
%pip install jupysql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db
#%config SqlMagic.style = 'table'

Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%%sql
SELECT name
FROM sqlite_master

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------+
|                  name                 |
+---------------------------------------+
|           crime_scene_report          |
|            drivers_license            |
|         facebook_event_checkin        |
|               interview               |
|           get_fit_now_member          |
| sqlite_autoindex_get_fit_now_member_1 |
|          get_fit_now_check_in         |
|                solution               |
|             check_solution            |
|                 income                |
+---------------------------------------+
Truncated to displaylimit of 10.


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [8]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'crime_scene_report'

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------------------------------+
|                sql                |
+-----------------------------------+
| CREATE TABLE crime_scene_report ( |
|               date integer,       |
|                 type text,        |
|             description text,     |
|                 city text         |
|                   )               |
+-----------------------------------+


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [9]:
%%sql
INSERT INTO solution VALUES (1, 'Muoi Cary');
SELECT value FROM solution;

Running query in 'sqlite:///sql-murder-mystery.db'

RuntimeError: (sqlite3.OperationalError) database is locked
[SQL: INSERT INTO solution VALUES (1, 'Muoi Cary');]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
%%sql
SELECT description
FROM crime_scene_report
WHERE crime_scene_report.type="murder" 
AND crime_scene_report.date = "20180115" 
AND crime_scene_report.city = "SQL City"

Running query in 'sqlite:///sql-murder-mystery.db'

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                        description                                                                                        |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave". |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [11]:
%%sql
SELECT *
FROM person
WHERE person.id NOT IN
(SELECT DISTINCT m.id AS person_id
FROM get_fit_now_member m, get_fit_now_check_in g
WHERE g.check_in_date = '20180115'
AND g.membership_id = m.id

UNION

SELECT DISTINCT f.person_id
FROM facebook_event_checkin f
WHERE f.date = '20180115'

UNION

SELECT DISTINCT i.person_id
FROM interview i)
AND person.address_street_name = "Franklin Ave" OR person.address_street_name = "Northwestern Dr";

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+----------------+------------+----------------+---------------------+-----------+
|   id  |      name      | license_id | address_number | address_street_name |    ssn    |
+-------+----------------+------------+----------------+---------------------+-----------+
| 10010 |   Muoi Cary    |   385336   |      741       |   Northwestern Dr   | 828638512 |
| 12711 | Norman Apolito |   667757   |      599       |   Northwestern Dr   | 778264744 |
| 14887 | Morty Schapiro |   118009   |      4919      |   Northwestern Dr   | 111564949 |
| 15171 |  Weldon Penso  |   336999   |      311       |   Northwestern Dr   | 131379495 |
| 17683 | Johnnie Schee  |   968887   |      1277      |     Franklin Ave    | 815977821 |
| 17729 | Lasonya Wildey |   439686   |      3824      |   Northwestern Dr   | 917817122 |
| 18376 |    Josh Shi    |   653712   |      1091      |   Northwestern Dr   | 193899001 |
| 18651 | Carleen Etoll  |   356746   |       22       |     Franklin Ave    | 193369255 |
| 19420 |  Cody Schiel   |   890431   |      3524      |   Northwestern Dr   | 947110049 |
| 22239 | Dusty Sigafus  |   710517   |      1125      |   Northwestern Dr   | 724386723 |
+-------+----------------+------------+----------------+---------------------+-----------+
Truncated to displaylimit of 10.