# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [1]:
# Install required packages
%pip install jupysql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db
#%config SqlMagic.style = 'table'

Note: you may need to restart the kernel to use updated packages.

Connecting to 'sqlite:///sql-murder-mystery.db'

In [ ]:
%%sql
SELECT name
FROM sqlite_master


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [ ]:
%%sql
SELECT *
FROM sqlite_master
where name = 'solution'


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [2]:
%%sql
INSERT INTO solution VALUES (1, 'Miranda Priestly');
SELECT value FROM solution;

Running query in 'sqlite:///sql-murder-mystery.db'

1 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                            value                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne! |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [ ]:
%%sql
SELECT description
FROM crime_scene_report
WHERE crime_scene_report.type="murder" 
AND crime_scene_report.date = "20180115" 
AND crime_scene_report.city = "SQL City"

In [ ]:
%%sql
SELECT * 
FROM person
WHERE address_street_name LIKE '%Northwestern Dr'
ORDER BY address_number DESC
LIMIT 1;

In [ ]:
%%sql
SELECT * 
FROM person
WHERE name LIKE 'Annabel%' AND address_street_name LIKE '%Franklin Ave%';

In [ ]:
%%sql
SELECT * 
FROM interview
WHERE person_id = 16371 OR person_id = 14887;

In [ ]:
%%sql
SELECT *
FROM get_fit_now_member
WHERE id LIKE '48Z%' AND membership_status = 'gold';

In [ ]:
%%sql
SELECT *
FROM get_fit_now_check_in
WHERE check_in_date = '20180109'
  AND membership_id IN (
    SELECT id
    FROM get_fit_now_member
    WHERE id LIKE '48Z%' AND membership_status = 'gold'
  );

In [ ]:
%%sql
SELECT p.name, d.plate_number
FROM person p
JOIN drivers_license d ON p.license_id = d.id
WHERE p.id IN (28819, 67318)
  AND d.plate_number LIKE '%H42W%';

In [10]:
%%sql
SELECT *
FROM interview
WHERE person_id = (
    SELECT id
    FROM person
    WHERE name = "Jeremy Bowers"
);

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| person_id |                                                                                                                    transcript                                                                                                                    |
+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|   67318   | I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017. |
|           |                                                                                                                                                                                                                                                  |
+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [23]:
%%sql
SELECT p.name
FROM drivers_license d, person p
WHERE p.id IN (
    SELECT person_id
    FROM facebook_event_checkin f
    WHERE event_name = 'SQL Symphony Concert'
      AND f.date BETWEEN 20171201 AND 20171231
    GROUP BY person_id
    HAVING COUNT(*) = 3
)
AND p.license_id = d.id
AND d.height BETWEEN 65 AND 67
AND d.car_model = 'Model S'
AND d.gender = "female";

Running query in 'sqlite:///sql-murder-mystery.db'

+------------------+
|       name       |
+------------------+
| Miranda Priestly |
+------------------+